<div>

  <h2>Ask a question</h2>
  <div class="general_form">
  <form action="/questions" method="POST" id="question_form">
  Title: <input type="text" name="title" size= "39">
    <input type="submit">
  </form>
  <br>
  <textarea rows="4" cols="50" name="body" form="question_form" placeholder="Enter question here"></textarea>
</div>
</div>
