<div>

  <h1>Ask a question</h1>

  <form action="/questions" method="POST" id="question_form">
  Title: <input type="text" name="title">
    <input type="submit">
  </form>
  <br>
  <textarea rows="4" cols="50" name="body" form="question_form" placeholder="Enter question here"></textarea>

</div>
