<h2>Log in!</h2>

<div class="general_form">
<form action="/sessions" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password">
  </div>
  <input class="button" type="submit" value="Log in!">
</form>
</div>
