body {
  margin:2%;
  font-family: Helvetica;
  background-color: papayawhip;
}

.question_list li {
  list-style-type: none;
  padding: 2px;
}

.username {
  float: right;
}

.stats {
  float: left;
  margin-right: 50px;
}

.question_title {

}

.each_question {
  border-radius: 10px;
  background-color: #ccccff;
  padding: 10px;
  margin: 5px;
  height: 40px;
}
