

body {
  margin:2%;
  font-family: Helvetica;
  background-color: papayawhip;
  color: #700099;
}

.errors {
  color: red;
}

.upvote-button {
  flex-direction: column;
  background-color: transparent;
  border: none;
  padding-top: 0px;
  color: #8C8C8C;
  vertical-align: sup;
  padding: 0px 0px 0px 0px;
}

.downvote-button {
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: #8C8C8C;
  text-decoration: none;
  vertical-align: sup;
  padding: 0px 0px 0px 0px;
}

.vote-count {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.inline {
  display: inline;
  text-align: center;
}

.item {
  font-size: 1.5em;
  vertical-align: center;
  font-weight: bold;
  padding-left: 2%;
  border-radius: 10px;
  background-color: #ccccff;
  padding: 10px;
  }

.author {
  font-size: .7em;
  font-weight: normal;
  padding-left: 1%;
}

.answer-item {
  font-size: 1.2em;
  vertical-align: center;
  font-weight: bold;
  padding-left: 2%;
  border-radius: 10px;
  background-color: #ccccff;
  padding: 10px;
}

.answer-author {
  font-size: 1em;
  font-weight: normal;
  padding-left: 1%;
}

.comment-item {
  font-size: 1em;
  font-weight: bold;
  padding-left: 2%;
  border-radius: 10px;
  background-color: #ccccff;
  padding: 10px;
}

.comment-author {
  font-size: 1em;
  font-weight: normal;
  padding-left: 1%;
}

.question_list {
  margin: 0 auto;
  min-width: 20%;
  max-width: 80%;
}

.question_list li {
  list-style-type: none;
  padding: 2px;
}

.username {
  float: right;
}

.stats {
  float: left;
  margin-right: 50px;
}

.question_title {

}

.each_question {
  border-radius: 10px;
  background-color: #ccccff;
  padding: 10px;
  margin: 5px;
  height: 40px;
}

.un {
  color: #cc00cc;
  font-size: 18px;
  text-shadow: 1px 1px lightyellow;
}

h1 {
  color: #cc00cc;
  text-align: center;
  font-family: Sedgwick Ave Display;
  font-size: 50px;
  text-shadow: 1px 1px #700099;
  font-style: bold;
}

h2 {
  color: #cc00cc;
  text-align: center;
  font-family: Sedgwick Ave Display;
  text-shadow: 1px 1px #700099;
  font-size: 40px;
}

h3 {
  color: #cc00cc;
  font-family: Sedgwick Ave Display;
  text-shadow: 1px 1px #700099;
  font-size: 25px;
}

.comment_link {
  text-align: center;
}

.general_form {
  display: block;
  margin: 0 auto;
  width: 40%;
}

#dargon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 10%;
  max-width: 50%;
  max-height: 30%;
}

#logout-button {
  background-color: #ffff99;
  text-align:  left;
}
