<div>

<!-- Question goes here -->

  <h1>Give an answer</h1>

  <form action="/answers/new" method="POST">
      <label for="body">Answer</label>
      <input type="text", name="answer", id="answer">
      <input type="submit" value="Submit">
  </form>

</div>
