<div>

  <h1><%= @question.title%></h1>
  <h2><%= @question.body%></h2>

  <form action="/answers/new" method="POST">
      <label for="body">Answer</label>
      <input type="text", name="answer", id="answer">
      <input type="submit" value="Submit">
  </form>

</div>
