<div>

  <div class="general_form">
  <h2><%= @question.title%></h2>
  <h3><%= @question.body%></h3>
  <form action="/answers" method="POST">
    <input
      type="hidden"
      name="question_id"
      value="<%= @question.id %>">
    <textarea
      rows="4"
      cols="50"
      name="body"
      placeholder="Enter Answer here">
    </textarea>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
</div>
